html {
    /*Background Image*/
    background-color: #313a3d;
    background-attachment: fixed, fixed;
    background-image: url("images/overlay.png"), url("../../images/bg.jpg");
    background-position: top left, center center;
    background-repeat: no-repeat;
    background-size: auto, auto 120%;
    /*font*/
    color: white;
    font-family: "Comic Sans MS";
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.75em;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

:root{
    font-size:16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

header {
    position: relative;
    text-align: center;
}

header.major{
    text-align: center;
}

header.major h1:after {
    background: #dddddd;
    content: '';
    display: block;
    height: 2px;
    margin: 0.75em auto 0 auto;
    position: relative;
    width: 4em;
}

